body {
	padding: 0;
	margin: 0;
	background-color: white;
}

.container {

	height: 950px;
	width: 600px;
	background-color: red;
	margin: auto;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.group {

	height: 792px;
	width: 500px;
	background-color: yellow;
	margin: auto;
	position: absolute;
	
	top: 50%;
	bottom: 50%;
	transform: translate(-50%, -50%);

	
}

.left {
	height: 250px;
	width: 250px;
	float: left;
	background-color: green;
	
}

.right {
	height: 400px;
	width: 250px;
	
	float: right;
	background-color: white;
	color: white;
	text-align: center;
	font-family: 'Catamaran', sans-serif;
	font-weight: bolder;
	

}


h1 {
	font-family: 'Catamaran', sans-serif;
	color: white;
	text-align: center;
	margin: auto;
	vertical-align: text-top;
	line-height: 50px;
}

#richmond {
	font-family: 'Catamaran', sans-serif;
	font-weight: bolder;
	color: white;
	text-align: center;

}

div.left p {
	font-family: 'Catamaran', sans-serif;
	color: red;
	text-align: center;
	font-size: 160px;
	margin: auto;
}


div.right p {
	font-family: 'Catamaran', sans-serif;
	color: white;


}

#grid {
	height: 250px;
	width: 150px;
	float: left;
	background-color: blue;
	color: white;
	text-align: center;
	line-height: 100px;
	vertical-align: text-top;
	font-family: 'Catamaran', sans-serif;
	font-weight: thin;
	font-size: 72px;

}
table {
	text-align: left;
	margin: auto;
	
}

td {
	font-family: 'Catamaran', sans-serif;
	font-weight: thin;
	color: white;
	line-height: 10px;
	vertical-align: text-top;
}

.twitter-timeline {
	height: 100px;
	width: 200px;
	margin: auto;
}

