*{
    margin: 0;
    padding: 0;
}

.container {

	height: 600px;
	width: 1024px;
	background-color: black;
	

  	
	
}

.group {

	height: 500px;
	width: 924px;
	background-color: black;
	position: relative;
  	top: 50px;
  	left: 50px;
	


	
}
/*
.left {
	height: 250px;
	width: 462px;
	background-color: blue;
	position: relative;
	}
*/
	




.right {
	width: 462px;
	height: 500px;
	position: absolute;
	background-color: black;
	top: 0;
	right: 0;
	text-align: right;
	
	

}


h1 {
	font-family: 'Catamaran', sans-serif;
	color: white;
	text-align: center;
	margin: auto;
	vertical-align: text-top;
	line-height: 50px;
}
#greetTime{
	font-family: 'Catamaran', sans-serif;
	text-align: right;
}

#greet{
	font-family: 'Catamaran', sans-serif;
	text-align: right;
	position: absolute;
	top: 50px;
	right: 0;
}
#greetMonth{
	font-family: 'Catamaran', sans-serif;
	text-align: right;
	position: absolute;
	top: 85px;
	right: 0;
}
#nextBus{
	position: absolute;
	bottom: 30px;
	left: 0;
	font-family: 'Catamaran', sans-serif;
	text-align: left;
	vertical-align: bottom;
}
#time{
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: 'Catamaran', sans-serif;
	text-align: left;
	vertical-align: bottom;

}
/*
#richmond {
	font-family: 'Catamaran', sans-serif;
	font-weight: bolder;
	color: white;
	text-align: center;

}

div.left p {
	font-family: 'Catamaran', sans-serif;
	color: red;
	text-align: center;
	font-size: 160px;
	margin: auto;
}


div.right p {
	font-family: 'Catamaran', sans-serif;
	color: white;


}
*/
#grid {
	font-family: 'Catamaran', sans-serif;
	position: absolute;
	height: 200px;
	width: 462px;
	top: 0;
	left: 0;
	background-color: black;
	color: white;
	font-size: 32px;
	

}
table {
	text-align: left;
	margin: auto;
	
}

td {
	font-family: 'Catamaran', sans-serif;
	font-weight: thin;
	color: white;
	line-height: 10px;
	vertical-align: text-top;
}

.twitter-timeline {
	height: 100px;
	width: 200px;
	margin: auto;
}

